<div class="side-menu">
  <nav class="navbar navbar-default" role="navigation">
    <div class="side-menu-container">
      <ul class="nav navbar-nav">
        <li><%= link_to "<span class='glyphicon glyphicon-send'></span> Home".html_safe%> </li>
        <li><%= link_to "<span class='glyphicon glyphicon-send'></span> Sản phẩm".html_safe, {action: 'index', controller: 'products'} %></li>
        <li><a href="#"><span class="glyphicon glyphicon-plane"></span> Danh mục</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-cloud"></span> Khách hàng</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-signal"></span> Nhân viên</a></li>
      </ul>
    </div>
  </nav>
</div>
