<div class="container">
  <div class="col-md-12" id="footer">
    <div class="row">
      <div class="col-md-5">
        <div class="col-md-12">
          <h4>Chất lượng</h4>
          <p>Cam kết chất lượng cho từng sản phẩm. 1 đổi 1 nếu sản phẩm
          gặp trục trặc về kỹ thuật (hoặc do nhà sản xuất)</p>
        </div>
        <div class="col-md-12">
          <h4>Phục vụ</h4>
          <p> Bee cam kết chất lượng phục vụ tốt nhất, chuyên nghiệp nhất cho mọi khách hàng bằng chính sách hoàn tiền và tặng quà nếu nhân viên phục vụ quí khách không chu đáo.</p>
        </div>
        <div class="col-md-12">
          <h4> Hỗ trợ</h4>
          <p>Nếu bạn gặp rắc rối về sản phẩm hay chất lượng dịch vụ của YaMe, hãy gọi ngay đến số  09 76 78 76 74 hoặc inbox ở fanpage facebook.com/beesports</p>
        </div>
      </div>
      <div class="col-md-3">
        <h4>Thông tin: </h4>
        <ul>
          <li><%= link_to 'Giới thiệu về shop' %></li>
          <li><%= link_to 'Tuyển dụng' %></li>
          <li><%= link_to 'Gửi góp ý than phiền' %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Địa chỉ: </h4>
        <ul>

        </ul>
      </div>
    </div>
  </div>
</div>
